apiVersion: v1
kind: ConfigMap
metadata:
  name: zeus-backend-layout-config
  namespace: zeus
  labels:
    app: zeus-backend-layout
data:
  config.yaml: |
    server:
      http:
        addr: 0.0.0.0:8000
        timeout: 1s
      grpc:
        addr: 0.0.0.0:9000
        timeout: 1s
    data:
      database:
        driver: mysql
        username: root
        password: root
        host: 127.0.0.1
        port: 3306
        database: test
      redis:
        addr: 127.0.0.1:6379
        read_timeout: 0.2s
        write_timeout: 0.2s
